.section {
  height: 180px;
  margin-bottom: 20px;
  border-bottom: 2px solid #333333;
}

.second.section .the-title {
  display: block;
  height: 50px;
  margin: 0;
  margin-bottom: 8px;
}

